<!DOCTYPE html>
<html lang="pt-BR">
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.discordapp.net/attachments/712487147541889024/1194438725216763914/e.png?ex=66f15fff&is=66f00e7f&hm=24bbe9dda75400a1458a60c4122715d91857f6c2362b523526a560d056677110&=&format=webp&quality=lossless&width=676&height=676" class="card-img-top" alt="Produto 1">
                    <div class="card-body">
                        <h5 class="card-title">Produto 1</h5>
                        <p class="card-text">R$ 99,99</p>
                        <a href="./detalhes" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.discordapp.net/attachments/712487147541889024/1194438725216763914/e.png?ex=66f15fff&is=66f00e7f&hm=24bbe9dda75400a1458a60c4122715d91857f6c2362b523526a560d056677110&=&format=webp&quality=lossless&width=676&height=676" class="card-img-top" alt="Produto 2">
                    <div class="card-body">
                        <h5 class="card-title">Produto 2</h5>
                        <p class="card-text">R$ 129,99</p>
                        <a href="./detalhes" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.discordapp.net/attachments/712487147541889024/1194438725216763914/e.png?ex=66f15fff&is=66f00e7f&hm=24bbe9dda75400a1458a60c4122715d91857f6c2362b523526a560d056677110&=&format=webp&quality=lossless&width=676&height=676" class="card-img-top" alt="Produto 3">
                    <div class="card-body">
                        <h5 class="card-title">Produto 3</h5>
                        <p class="card-text">R$ 89,99</p>
                        <a href="./detalhes" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
