    body {
      background-color: #f8f9fa;
    }

    .login-container {
      max-width: 600px;
      margin: 100px auto;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form {
      flex: 1;
      padding-right: 20px;
    }

    .logo {
      font-family: 'Arial', sans-serif;
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .form-button {
      margin-top: 20px;
    }

    .register-container {
      flex-basis: 200px;
      padding-left: 20px;
      border-left: 1px solid #ddd;
    }

    .register-header {
      font-weight: bold;
      margin-bottom: 10px;
    }
