/* Adicione esses estilos ao seu arquivo CSS */
.cart-table {
  margin: 20px;
}

.table-responsive-sm {
  overflow-x: auto;
}

.total {
  margin-top: 20px;
  text-align: right;
}

.button-container {
  margin-top: 20px;
  text-align: right;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
  .cart-table {
    font-size: 14px;
  }
  .table-responsive-sm {
    overflow-x: scroll;
  }
  .total {
    font-size: 16px;
  }
  .button-container {
    flex-direction: column;
  }
  .button-container a {
    margin-bottom: 10px;
  }
}